<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/common-files-template') %>
  <link rel="stylesheet" href="styles/folders.css">
  <title>Home | Cloudly</title>
</head>

<body>
  <script defer src="/scripts/fileValidation.js"></script>
  <%- include('header') %>
  <div class="main-wrapper">
    <main>
      <div class="main-top-buttons">
        <div>
          <!-- <button class="create-buttons upload-file"><span aria-hidden="true"></span>Upload File</button> -->
          <%- include('partials/files-form', { isInFolder: locals.folder ? true : false, folderId: locals.folder ? locals.folder.id : null}) %>
          <button class="create-button new-folder"><span aria-hidden="true"></span>New Folder</button>
        </div>
        <button class="sort-button" aria-label="Sort Button"></button>
      </div>
      <section class="files-container">
        <h1 class="folder-section-heading">Cloudly Drive</h1>
        <% if((!locals.folder && (!locals.folders || locals.folders && locals.folders.length === 0)) && (!locals.files ||locals.files && locals.files.length === 0)) { %>
        <img src="images/cloud.svg" aria-hidden="true" id="cloud-image">
        <h2 class="drive-empty">Cloudly drive is empty</h2>
        <p class="empty-message">You haven't added items to your Cloud drive.</p>
        <% }%>
      </section>
      <%= folders.length%>
      <%= files.length %>
      <%=  locals.errors == null %>
      <%  if(null) { %>
      <p>null is true</p>
      <% }else{ %>
      <p>null is false</p>
      <% }%>
    </main>
    <!-- <form action="/folders" method="POST">
      <label for="folderName">New Folder</label>
      <input type="text" name="folderName" id="folderName" required>
      <button type="submit">Submit</button>
    </form> -->
  </div>
  <%- include('footer') %>
</body>

</html>